.cart--header  {
    display: flex;
}
.cart--item {
    background: #fff;
    margin-bottom: 1rem;
    display: flex;
    .img--container {
        padding-bottom: 0px;
        width: 150px;
        height: 150px;
    }
}