.cart--header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5rem;
    background-color: #fff;
    h2{
      display:inline;
      color:$red;
    }
    .title-light{
      font-weight: 400;
      display:inline;
    }
}

.grey-border{
    position: relative;
    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 120px;
        background-color: $lightest-grey;
      }
}

.cart--col-names {
    padding:0rem 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: $dark-grey;
    color:#fff;
    .cart--col-item {
        width:35%;
        text-align: left;
    }
    .cart--col-qty {
        width:24%;
    }
    .cart--col-price {
        width:24%;
    }
    .cart--col-remove {
        width:17%;
    }
    h4{
        font-size: 18px;
        line-height: 28px;
    }
    .grey-border{
        &:after {
            height: 25px;
          }
    }
    &.cart--col-alt{
        color: $dark-grey;
        background-color: #fff;
    }
}

.link--continue-shopping {
    text-transform: uppercase;
    padding-right: 15px;
    position: relative;
    color: $red;
    font-family: $sans;
    font-weight: 600;
    &:hover{
        color:$red;
        opacity: .75;
        text-decoration: none;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 5px;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid $red;
    }
  }

.cart--items{
    margin: 5rem 5rem 15rem;
    .cart--row-tax{
        background: #fff;
        margin-bottom: 1rem;
        padding: 2rem;
        border-radius: 15px;
        text-align: left;
        font-family: $sans;
        font-size: 16px;
        font-weight: 700;
        position: relative;
        .align-left{
          // text-align: left;
          // position: absolute;
          // left:2rem;
        }
        .tax-amt{
          display: inline-block;
          margin-right: 17%;
          width:24%;
          text-align: center;
        }
    }
}

.cart--item {
    background: #fff;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    text-align: center;
    .btn-qu{
        width:17%;
        background: transparent;
        border:none;
    }
    .fa-trash {
        color: $red;
    }
}

.cart--item-row1 {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:1rem 0rem;
    padding-top: 2.5rem;
    h4.grey-border {
        width: 24%;
        font-size: 22px;
    }
}

.cart--item-row2 {
    width:100%;
    text-align: left;
}

.cart--item-img {
    width: 35%;
    img{
        max-width: 60%;
        max-height: 220px;
    }
    h4{
      width: 80%;
      margin:10px auto 4px;
      text-align: left;
    }
    p{
      text-align: left;
      font-family: $sans;
      width:80%;
      margin:0 auto;
    }
}

.cart--item-qty {
    width: 24%;
    font-size:32px;
    font-weight:700;
    font-family: $sans;
    .qty--container{
        display:flex;
        justify-content: center;
    }
    h4{
        font-size:20px;
    }
}

.cart--item-comment{
    font-family: $sans;
    font-size:16px;
    padding:1rem 4rem 3rem 4rem;
    p{
        font-family: $sans;
        font-size: 16px;
    }
}

.cart--summary{
    width:100%;
    position: fixed;
    bottom:0;
    span,
    a{
        padding: 3rem;
        color:white;
        font-family: $sans;
        font-size:24px;
        font-weight:600;
        line-height: 32px;
        background-color: $red;
        border:4px solid $off-white;
        border-left: 0;
    }
    span{
        width:70%;
        border-bottom: 1px solid $red;
        display: inline-block;
    }
    .btn{
        width:30%;
        background-color: $green;
        border:none;
        border-radius:0;
        border-bottom: 1px solid $green;
        text-transform: uppercase;
        vertical-align: baseline;
        &:hover{
            color:#ddd;
        }
    }
}
