.subheader--checkout{
    width:100%;
    // padding:1rem 0;
    background-color: $dark-grey;
    div{
        width:33%;
        height:100%;
        // padding:1rem 0;
        display: inline-block;
        text-align: center;
        color:$grey;
        font-family: $sans;
        font-size:20px;
        &.active{
            background-color: $green;
            color:white;
            padding: 1rem;
            width: 34%;
        }
        a{
            padding:1rem 0;
            color:$grey;
            display:block;
            width:100%;
            height:100%;
            &:hover{
                text-decoration: none;
                opacity: .75;
            }
            &.active{
                background-color: $green;
                color:white;
            }
        }
        &:nth-child(1),
        &:nth-child(2){
            // border-right: 2px solid $offwhite;
            position: relative;
            &:after{
                content:'';
                position: absolute;
                top:0px;
                right:0;
                width:2px;
                height:48px;
                background-color: #fff;
            }
        }
        &:nth-child(2){
          &:after{
              top:-10px;
          }
       }
    }
}

body .content--container{
    .form-group{
        // min-height: 900px;
        .form-inputs{
            width:60%;
            margin:5rem auto;
            input.form-control{
              &:first-of-type{
                padding-top: 5rem;
              }
            }
        }
        .time-inputs{
            display:flex;
            .date-picker,
            .time-picker{
                position: relative;
                z-index: 9;
            }
            .fa,
            .far{
                position: absolute;
                top:35%;
                left:15px;
                height: 30px;
                width:30px;
                color:$red;
                z-index: -1;
            }
        }
        .SingleDatePicker{
            display: block;
            width:100%;
            height:50px;
            border: 2px solid $red;
            &:after {
                content: '';
                position: absolute;
                right: 5%;
                top: 45%;
                width: 0;
                height: 0;
                border-top: 5px solid $red;
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
            }
            .SingleDatePickerInput{
                background-color: transparent;
                border:none;
            }
            .DateInput{
                font-weight: 400;
                background-color: transparent;
                width: 100%;
                padding: 8px 8px 8px 30px;
                .DateInput__display-text{
                    color: $red;
                }
            }
        }
        .date-picker{
            height: 50px;
            width: 50%;
            transform: translateX(-5%);
            input{
                display:block;
                height:100%;
                width:100%;
                border: 2px solid $red;
                padding: 8px 8px 8px 35px;
                color:$red;
                background: transparent;
                font-size: 14px;
                font-weight: 600;
            }
            &:after{
              content: '';
              position: absolute;
              right: 7%;
              top: 50%;
              width: 0;
              height: 0;
              // border-top: 12px solid $red;
              // border-right: 7px solid transparent;
              // border-left: 7px solid transparent;
              border-top: 5px solid $red;
              border-right: 5px solid transparent;
              border-left: 2.5px solid transparent;
              z-index: -1;
            }
            &:focus-within{
              &:after{
                border:none;
              }
            }
        }
        .time-picker{
            height:50px;
            width:50%;
            transform: translateX(5%);
              &:after {
                  content: '';
                  position: absolute;
                  right: 7%;
                  top: 50%;
                  width: 0;
                  height: 0;
                  // border-top: 12px solid $red;
                  // border-right: 7px solid transparent;
                  // border-left: 7px solid transparent;
                  border-top: 5px solid $red;
                  border-right: 5px solid transparent;
                  border-left: 2.5px solid transparent;
                  z-index: -1;
              }
        }
        select.form-control{
            display:block;
            // height:50px;
            // width:50%;
            height:100%;
            width:100%;
            border: 2px solid $red !important;
            padding: 8px 8px 8px 35px;
            color:$red;
            font-size: 14px;
            font-weight: 600;
        }
        input{
            padding: 3rem 0 1rem 0;
            font-size: 20px;
            border-bottom: 2px solid $light-grey;
        }
        .btn{
          padding: 3rem;
          color:white;
          font-family: $sans;
          font-size:24px;
          font-weight:600;
          line-height: 32px;
          background-color: $green;
          border:4px solid $off-white;
          width:70%;
          position: fixed;
          bottom:0;
          border-bottom: none;
          border-left: none;
          text-transform: uppercase;
        }
        .btn-secondary{
            background-color: $red;
            width:30%;
            right:0;
            border-right: none;
        }
    }
}

.checkout--title{
    padding: 3rem  0 0 5rem;
    //text-transform: uppercase;
    color:$red;
    //font-size:32px;
}

.checkout--info{
    margin: 2rem 5rem 0 5rem;
    padding: 1rem 0 0rem 0;
    border-top: 2px solid $dark-grey;
    border-bottom: 2px solid $dark-grey;
    color:$dark-grey;
    font-family:$sans;
    font-size:22px;
    div{
        width:100%;
        display:flex;
        flex-wrap:wrap;
        margin-top:4rem;
        padding: 0 3rem;
        span{
            width: 40%;
            margin-right:10%;
            margin-bottom:4rem;
            font-size:22px;
        }
    }
    strong{
        text-transform:none;
    }
}

.checkout--terms{
    margin: 0rem 5rem 0 5rem;
    padding: 0rem 0 5rem 0;
    color:$dark-grey;
    h5{
        font-size:22px;
        margin-bottom: 2rem;
    }
    p{
        font-size:20px;
        line-height: 1.5;
    }
    button {
        height: 40px;
        width: 25%;
        background:transparent;
        border: 2px solid $red;
        border-radius: 0px;
        color: $red;
        font-family: $sans;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.checkbox-fullwidth{
    margin:0 !important;
    padding:4rem 5rem;
    width:100%;
    background-color: $grey-alt;
    text-transform:uppercase;
    font-family: $sans;
    font-size:22px;
    font-weight:700;
    color:$dark-grey;
    label{
        padding-left:60px !important;
        &:before{
            height:40px;
            width:40px;
            top: 50%;
            left: 5rem;
            transform:translateY(-56%);
            border:2px solid $red;
            background-color: #fff;
        }
        &.checked:after{
            height:12px;
            width:22px;
            top: 40%;
            left: 59px;
            border:3px solid $red;
            border-top: none;
            border-right: none;
        }
    }
}

.checkout--review{
  .cart--items{
    margin: 2rem 5rem;
  }
}

.checkout--submit{
    width:100%;
    span,
    a{
        padding: 3rem;
        color:white;
        font-family: $sans;
        font-size:24px;
        font-weight:600;
        line-height: 32px;
        background-color: $red;
        border-top: 4px solid $offwhite;
    }
    span{
        width:50%;
        border-bottom: 1px solid $red;
        display: inline-block;
    }
    .btn{
        width:30%;
        background-color: $green;
        border:none;
        border-radius:0;
        text-transform: uppercase;
        vertical-align: baseline;
        border-left: 4px solid $offwhite;
    }
    .btn[disabled]{
      color:$lighter-grey3;
      background-color:$grey-alt;
      opacity: 1;
    }
    .btn-secondary{
        width:20%;
        background-color: $red;
    }
}

.checkout--disclaimer{
    padding: 4rem;
    text-align: center;
    font-size:20px;
    color:$grey;
}

.checkout--confirmation{
    position: relative;
    width: 80%;
    margin: 6rem auto 5rem auto;
    text-align: center;
    font-family: $sans;
    font-size: 30px;
    color: $dark-grey;
    .checkout--confirmed{
        position: relative;
        left:50%;
        transform: translateX(-50%);
        height:200px;
        width:200px;
        border-radius:100%;
        border:5px solid $green;
        margin-bottom: 6rem;
    }
    .fa-check{
        position: relative;
        top:50%;
        transform: translateY(-50%);
        color:$green;
        font-size: 120px;
    }
    p{
        font-size: 32px;
        line-height: 1.2;
        &.confirm-text{
          color:$green;
          font-weight: 600;
        }
    }
}

.feedback--customer{
    font-family: $sans;
    text-align: center;
    margin: 0 5rem 5rem 5rem;
    background: #fff;
    padding: 2rem 1rem;
    border-radius: 27px;
    button{
        background: $offwhite;
        border:none;
        border-radius:18px;
        padding:4px;
        height: 50px;
        width: 12%;
        min-width: 60px;
        margin-right: 2px;
        background: $offwhite;
    }
    .btn-submit{
        height: 70px;
        width: 30%;
        margin: 0 !important;
        border: 2px solid $green;
        border-radius: 0px;
        color: $green;
        font-family: $sans;
        font-weight: 600;
        font-size:18px;
        background: #fff;
        text-transform: uppercase;
    }
    textarea{
        border:none;
        color:$dark-grey;
        width: 90%;
        background: $offwhite;
        border:2px solid $light-grey;
    }
    div{
        margin-bottom: 1rem;
    }
    p{
        font-size:17px;
        padding: 2rem;
    }
    .fa-frown{
        color:$red;
    }
    .fa-meh{
        color:$yellow;
    }
    .fa-smile{
        color:$green;
    }
}
