.csa--app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    .header {
        .customer-login {
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
            padding-right: 6rem;
            position: relative;
            font-family: $sans;
            font-size: 18px;
            &:after {
                content: '';
                position: absolute;
                right: 3.5rem;
                top: 8px;
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 8px solid #fff;
            }
            &:hover{
                text-decoration: none;
                opacity: .7;
            }
        }
        .customer-logout{
            text-transform: uppercase;
            padding-right: 2rem;
            position: relative;
            font-family: $sans;
            font-size: 18px;
            font-weight:600;
            color:#fff;
            &:hover{
                text-decoration: none;
                opacity: .7;
            }
        }
    }
    .content--container {
        padding: 7rem 0rem 0rem;
    }
}


.arrow--down-red {
    position: relative;
    padding-right: 20px;
    text-transform: capitalize;
    &:after {
        content: '';
        position: absolute;
        right: -6px;
        top: 12px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $red;
    }
}

.box-layout{
    padding: 2rem 5rem;
}