.csa--app {
    .header {
        .customer-login {
            color: #fff;
            font-weight: 500;
        }
    }
    .content--container {
        padding: 7rem 0rem;
    }
    .search{
        border: 1px solid $light-grey;
    }
    .customer-login{
        text-transform: uppercase;
        padding-right: 15px;
        position: relative;
        font-family: $sans;
        font-size: 18px;
        &:after {
          content: '';
          position: absolute;
          right: 0;
          top: 5px;
          width: 0; 
          height: 0; 
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 8px solid #fff;
        }
    }
}

.link--go-back {
    text-transform: uppercase;
    padding-right: 15px;
    position: relative;
    font-family: $sans;
    font-weight: 600;
    color: $red;
    background-color: transparent;
    border:none;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
      width: 0; 
      height: 0; 
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 5px solid $red;
    }
  }

  .order-items--header {
    padding:1rem 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: $dark-grey;
    color:#fff;
    .col-item {
        width:25%;
        text-align: left;
    }
    .col-qty {
        width:16%;
    }
    .col-assign {
        width:14%;
    }
    .col-status {
        width:14%;
    }
    .col-barcode {
        width:31%;
    }
    h4{
        font-size: 20px;
    }
    .grey-border{
        &:after {
            height: 25px;
          }
    }
}