.csa--app {
    .header {
        .customer-login {
            color: #fff;
            font-weight: 500;
        }
    }
    .content--container {
        padding: 7rem 0rem;
    }
    .search{
        border: 1px solid $light-grey;
    }
    .customer-login{
        text-transform: uppercase;
        padding-right: 6.5rem;
        position: relative;
        font-family: $sans;
        font-size: 18px;
        &:after {
          content: '';
          position: absolute;
          right: 5rem;
          top: 7px;
          width: 0; 
          height: 0; 
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 8px solid #fff;
        }
    }
    .customer-logout{
        text-transform: uppercase;
        padding-right: 2rem;
        position: relative;
        font-family: $sans;
        font-size: 18px;
        color:#fff;
    }
}

.link--go-back {
    text-transform: uppercase;
    padding-right: 15px;
    position: relative;
    font-family: $sans;
    font-weight: 600;
    font-size:16px;
    color: $red;
    background-color: #fff;
    border:none;
    width:100%;
    padding:3rem 5rem 3rem 6rem;
    text-align: left;
    &:before {
        content: '';
        position: absolute;
        transform: translate(-10px,5px);
        width: 0; 
        height: 0; 
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid $red;
        margin-right: 1rem;
    }
}

.arrow--down-red {
    position: relative;
    padding-right: 20px;
    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 10px;
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $red;
    }
}
