.customer--app {
    .content--container {
        background: $offwhite;
    }
    .searchContainer {
        margin-bottom: 3rem;
    }

    .link--place-order {
        color: $yellow;
        text-transform: uppercase;
    }
}