.customer--app {
    .content--container {
        background: $off-white;
    }
    .searchContainer {
        margin-bottom: 3rem;
    }

    .link--place-order {
        color: $light-green;
        text-transform: uppercase;
    }
}