.rowFilter {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.counterFilter {
    li {
        display: inline-block;
        list-style: none;
        button {
            &.active {
                border: 1px solid $red;
            } 
        }
    }
}

.statusFilter {
    li {
        display: inline-block;
        list-style: none;
        button {
            &.active {
                border: 1px solid $red;
            } 
        }
    }
}