.rowFilter {
    height:82px;
    width:100%;
    padding:0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $sans;
}

.counterFilter {
    background: #fff;
    ul{
        padding:2rem 5rem;
        margin:auto;
        display:flex;
        justify-content:space-between;
        li {
            display: inline-block;
            list-style: none;
            margin-left:5px;
            button {
                padding: 1rem;
                background-color: #fff;
                border-radius: 27px;
                border:none;
                font-size: 14px;
                font-weight: 600;
                color: $dark-grey;
                text-transform: uppercase;
                &.active {
                    background-color: $off-white;
                }
            }
        }
    }
}


body #app .searchContainer {
    display: block;
    position: relative;
    background-color: #fff;
    border-radius:27px;
    .search {
        position: relative;
        z-index: 3;
        box-shadow: none;
        color: $dark-grey;
        display: block;
        font-family: $sans;
        border-radius: 27px !important;
        line-height: 1em;
        font-size: 16px;
        padding: 8px 15px;
        border-radius: 15px;
        font-weight: 400;
        border: none;
        width: 100%;
    }
    .closer {
        position: absolute;
        top: 5px;
        opacity: 0;
        z-index: 4;
        border: none;
        box-shadow: none;
        transition: opacity .4s ease-in-out;
        color:$red;
        display: block;
    }

}

body #app .customer--app .searchContainer {
    .fa-search{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        opacity: 0.5;
        z-index: 10;
        pointer-events: none;
        transition: opacity .3s ease-in-out, left .5s ease-in-out;
    }
    .closer {
        right: 1px;
        top: 5px;
    }
    &:focus-within {
        .fa-search{
            opacity:0;
            left:100%;
        }
    }
    &.active{
        .fa-search{
            opacity:0;
            left:100%;
        }
        .closer {
            opacity: 1;
        }
    }
}


body #app .csa--app .searchContainer {
    position: relative;
    overflow: hidden;
    .fa-search{
        position: absolute;
        top: 0;
        right: 0;
        background: $red;
        color: #fff;
        width: 50px;
        height: 39px;
        opacity: 1;
        z-index: 3;
        border-radius: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;

    }
    .closer {
        right: 50px;
        top: 5px;
    }
    &.active{
        .closer {
            opacity: 1;
        }
    }
}

.statusFilter {
    margin:0;
    padding:0;
    font-family: $sans;
    font-size: 18px;
    font-weight: 600;
    li {
        width:32%;
        margin: 0 1% 0 0;
        display: inline-block;
        list-style: none;
        text-align: center;
        &:first-child{
            margin-left:1%;
        }
        button,
        a {
            display:block;
            width:100%;
            height:100%;
            background-color: $offwhite-light;
            border:none;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            padding: 1rem 0;
            color: $light-grey;
            &.active {
                color: $dark-grey;
                background-color: #fff;
            }
        }
    }
}
