textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}


.form-group {
    font-family:$sans;
    .form-control {
        padding: 10px 0;
        width: 100%;
        background: transparent;
        height: auto;
        background: transparent;
        border: none;
        border-bottom: 2px solid $lighter-grey !important;
        font-size: 18px;
        font-weight: 400;
        padding: 1rem 0;
        border-radius: 0px;
        box-shadow: none;
        border-color: inherit;
        box-shadow: none;
        outline: none;
        &.error {
            border-bottom:2px solid $red;
        }
        &:focus {
            border-color: none;
            border-bottom: 2px solid $light-grey !important;
            box-shadow: none;
        }
        &::placeholder{
            font-family: $sans;
            color: $light-grey;
            font-size: 2.3rem;
        }
    }

    .f-con {
        position: relative;
        margin-bottom: 4rem;
        label {
            visibility: hidden;
            position: absolute;
            pointer-events: none;
        }
    }
    .has-error {
        .form-control {
            border-bottom:2px solid $red !important;
            box-shadow: none !important;
        }
    }
}

body .form-group {
    &.rewards-container,
    &.guest-container{
        label {
            visibility: hidden;
            position: absolute;
            pointer-events: none;
        }
    }
}

.checkbox {
    input[type=checkbox] {

    }
    label {
        cursor: pointer;
        padding-left: 40px;
        border: none;
        //width: 100%;
        width:auto;
        &:before {
          content: ' ';
          width: 20px;
          height: 20px;
          top: 0;
          left: 0;
          position: absolute;
          line-height: 1.2em;
          border-radius: 1px;
          border: 1px solid #000;
        }
        &.checked {
            &:after {
                content: '';
                width: 11px;
                height: 6px;
                position: absolute;
                top: 6px;
                left: 5px;
                border: 3px solid #000;
                border-top: none;
                border-right: none;
                background: transparent;
                opacity: 1;
                transform: rotate(-45deg);
              }
        }
    }
    span{
      color: $red;
    }
}

body .modal-body,
body .box-layout{ 
    .Select-control {
        height: 40px;
        border: 2px solid $red;
        border-radius: 0px;
        color: $red;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        .Select-arrow {
            border-top:5px solid $red;
        }
        .Select-value .Select-value-label,
        .Select-value {
            font-family: $sans;
            color: $red;
            font-size: 14px;
            font-weight: 600;
            position: absolute;
            transform: translateY(-2px);
        }
        .Select-value{
            transform:translateY(3px);
        }
        .Select-placeholder{
        color:$red;
        font-size: 14px;
        font-weight: 600;
        }
    }
    .Select-menu-outer{
        color:$red;
        width:100%;
        div{
            width:100%;
        }
    }
    .is-disabled{
        background:#fff;
        .Select-control{
            border: none;
            color:$dark-grey;
            //background:#fff !important;
        }
        .Select-arrow-zone{
            display: none;
        }
    }
    .is-open{
        .Select-arrow{
            border-top:none;
        }
    }
}

.error-message {
    color:$red;
    font-family: $sans;
    font-size:14px;
    margin-top: -2rem;
    &.bottom-spacing{
        margin-bottom: 1rem;
    }
}