*:focus {
    outline: none;
}

.img--container {
    overflow: hidden;
    z-index: 0;
    position: relative;
    display: block;
    padding-bottom: 60%;
    img {
        position: absolute;
        width: 80%;
        height: auto;

        left: 0;
        top: 0;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            width: 100%;
            height: auto;
        }
    }
}

.modal-header{
  .img--container {
    img {
        width: 80%;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
  }
}

body{
    .align-right{
        float: right;
    }

    .no-pad-sides{
        padding-left:0 !important;
        padding-right:0 !important;
    }
}