.header {
  height: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $red;
  z-index: 1;

}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  text-decoration: none;
  h1 { 
    margin: 0;
  }
}

.longos-logo {
  display: block;
  width: 200px;
  height: 80px;
  background: transparent url('/images/longos.svg') no-repeat 0 0;
}

.longos-logo-white {
  display: block;
  width: 200px;
  height: 80px;
  background: transparent url('/images/longos-white.svg') no-repeat 0 0;
}