.icon--close {
    display: block;
    width: 40px;
    height: 24px;
    background: transparent url('/images/x.svg') no-repeat 15px 8px;
    background-size: 12px;
  }

  .longos-logo {
    display: block;
    width: 150px;
    height: 55px;
    background: transparent url('/images/longos.svg') no-repeat 0 0;
  }
  
  .longos-logo-white {
    display: block;
    width: 120px;
    height: 50px;
    background: transparent url('/images/longos-white.svg') no-repeat 0 0;
  }

.icon--trash{
  display: block;
  width: 40px;
  height: 40px;
  background: transparent url('/images/trash_icon.svg') no-repeat 15px 8px;
  background-size: 28px;
  background-position: center;
  position: relative;
  left:50%;
  transform: translateX(-50%);
}