.content--container {
    padding-top: 10rem;
}

.products {
    margin-top: 3rem;
    aside {
        position: fixed;
        top: 12rem;
        width: 25rem;
        height: 100vh;
        
        padding: $s-size 0 $s-size $s-size;
    }
    .product--container {
        margin-right: 1.2rem;
        margin-left: 27rem;
        padding-bottom: 60rem;
    }
    .product--item {
        background: #fff;
    }
}