.login-scene {
    width: 100vw;
    height: 100vh;
    padding: $l-size;
    padding-top: 7.5rem;
    background: transparent url('/images/bg-login.png') no-repeat 100% 100%;
    background-size: 140%;
    h1 {
        color: $red;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 6.5rem;
        line-height: 1.1em;
        letter-spacing: -.06em;
        margin-bottom: $m-spacer;
    }
    h3 {
        font-family: $header;
        font-size: 3rem;
        margin-bottom: $m-spacer;
    }
    .rewards-container,
    .guest-container {
        width: $gutter*8;
        margin: 4rem 0;
    }
    .brand--container {
        position: relative;
        display: block;
        margin-bottom: $m-spacer;
    } 
}


.csa--login {
    display: flex;
    justify-content: center;
}
.login--container {
    text-align: center;
    display: inline-block;
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
}