

body .modal-content {
    border-radius: 15px;
    .toc{
        padding:2rem;
    }
    .cancel--text{
        text-align: center;
        padding:2rem 2rem 0 2rem;
        margin-bottom: 2rem;
    }
    .modal-header{
        border-bottom: none;
          &.img--header{
              height: 400px;
              overflow: hidden;
          }
          img {
              max-height:400px;
          }
          .close {
              font-size:50px;
              color:$red;
              position: absolute;
              top: 5px;
              right: 10px;
              z-index: 1;
              opacity: 1;
              font-weight: 300;
              &:hover {
                  color:$red;
                  opacity: 1;
              }
          }
      }
      .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label{
        color:$red;
      }

    .modal-body {
        font-family: $sans;
        color: $dark-grey;
        padding:0rem 3rem 1.5rem 3rem;
        h2{
          margin-bottom: 4px;
        }
        h4{
          font-size: 17px;
          font-weight: 400;
        }
        h5{
          font-size: 33px;
        }
        p {
                font-family: $sans;
                font-size: 17px;
                font-weight: 400;
            line-height: 1.4em;
            margin-bottom: 30px;
            &:first-of-type{
              margin-bottom: 15px;
            }
        }
        .item--header {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            h2{

            }
            h5{
              text-align: right;
            }
            .price-text{
              font-size: 17px;
              font-weight: 400;
            }
            .desc-cake{
              font-size: 17px;
              font-weight: 400;
            }
        }
        .item--options {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 2rem 0;
            .Select {
                width: 60%;
            }
        }
        textarea {
            width: 100%;
            box-shadow: none;
            border: 2px solid $lighter-grey2;
            padding: 1rem;
            &::placeholder{
                font-family: $sans;
                color:$lighter-grey2;
            }
        }
        .Select-control {
            height: 40px;
            border: 2px solid $red;
            border-radius: 0px;
            color: $red;
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
            .Select-arrow {
                border-top:5px solid $red;
            }
            .Select-value .Select-value-label,
            .Select-value {
                font-family: $sans;
                color: $red;
                font-size: 14px;
                font-weight: 600;
                position: absolute;
                transform: translateY(-2px);
            }
            .Select-value{
                transform:translateY(3px);
            }
            .Select-placeholder{
              color:$red;
              font-size: 14px;
              font-weight: 600;
            }
        }
        .Select-menu-outer{
            color:$red;
        }
        .is-disabled{
            background:#fff;
            .Select-control{
                border: none;
                color:$dark-grey;
                //background:#fff !important;
            }
            .Select-arrow-zone{
                display: none;
            }
        }
    }
    .modal-footer {
        border-top:none ;
        padding: 0rem 3rem 3rem 3rem ;
        text-align: left;
        .toc{
            button{
                position: relative;
                left:50%;
                transform: translateX(-50%);
            }
        }
        .item--disclaimer {
            padding: 2rem 0;
        }
    }
}


.item--cake-options {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    div:first-child{
        width:49%;
        margin-right:0.5%;
        margin-bottom:1%;
    }
    div:not([class]){
        &:nth-child(2n+1){
            width:49%;
            margin-right:0.5%;
            margin-bottom:1%;
        }
        &:nth-child(2n){
            width:49%;
            margin-left:0.5%;
            margin-bottom:1%;
        }
        div{
            width: 100%;
        }
    }
}

.item--disclaimer {
    font-style: italic;
    font-size: 12px;
}




.modal-content{
    .feedback--csa{
        font-family: $sans;
        border:2px solid $grey;
        color:$dark-grey;
        width: 90%;
        margin: 1rem auto 1rem auto;
        position: relative;
        left:50%;
        transform:translateX(-50%);
    }
}

.modal--cancel{
  padding:3rem;
  text-align: center;
  position: relative;
  h3{
    color:$dark-grey;
    text-transform: none;
  }
  h4{
    margin-bottom: 4rem;
    font-weight: 300;
    width:50%;
    text-align: center;
    position: relative;
    left:50%;
    transform: translateX(-50%);
  }
  .red{
    color:$red;
  }
  .modal--buttons{
    width:100%;
  }
}
