.order-detail--header {
    display: flex;
    justify-content: space-around;
    font-family: $sans;
    font-size: 16px;
    background: #fff;
    padding-bottom: 3rem;
}

.order-item--row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    .Select {
        width: 100%;
    }
}

.order-item--meta {
    h6 {
        display: inline-block;
    }
}

.order-items--header {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    border-bottom: 1px solid #000;
}

.my-collapsible {
    width: 100%;
}

.my-collapsible__content { 
    overflow: hidden;
}


.order-items--header {
    padding:1rem 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: $dark-grey;
    color:#fff;
    .col-item {
        width:25%;
        text-align: left;
    }
    .col-qty {
        width:16%;
    }
    .col-assign {
        width:14%;
    }
    .col-status {
        width:14%;
    }
    .col-barcode {
        width:31%;
    }
    h4{
        font-size: 20px;
    }
    .grey-border{
        &:after {
            height: 25px;
          }
    }
}

.order--items{
    margin: 5rem;
}

.my-collapsible {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    text-align: center;
    padding:1rem 0rem;
    margin-bottom: 1rem;
    .order-item--item{
        width:25%;
    }
    .order-item--qty{
        width:16%;
    }
    .order-item--assign{
        width:14%;
    }
    .order-item--status{
        width:14%;
    }
    .order-item--barcode{
        width:31%;
        svg{
            max-width: 100%;
        }
    }
}

.order-item--row {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h4.grey-border {
        width: 24%;
        font-size: 22px;
    }
}