.order-detail--header {
    display: flex;
    justify-content: space-around;
    font-family: $sans;
    font-size: 16px;
    font-weight: 600;
    background: #fff;
    padding-bottom: 3rem;

    .btn--container{
        position: relative;

    }
    .state--not-ready{
        color:$red;
    }
    .state--completed{
        color:$green;
    }
    h4{
        font-size:18px;
        text-transform:uppercase;
    }
}

.order-item--row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-family: $sans;
    font-weight: 600;
    color: $dark-grey;
    .Select {
        width: 90%;
        margin:auto;
    }
}

.order-item--meta {
    text-align: left;
    h6 {
        display: inline-block;
    }
}

.order-items--header {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    border-bottom: 1px solid #000;
}

.order-detail--actions-row {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    .panel {
        width: 100%;
    }
    &.bg-none{
      background:none;
    }
    &.pad-none{
      padding:0;
    }
    .order-detail--action{
      width:160px;
      height:40px;
      padding:1rem;
      border: 2px solid $red;
      font-size:14px;
      line-height: 14px;
      font-weight: 600;
      font-family: $sans;
      text-align: center;
      position: relative;
      &.order-detail--list{
        text-align: left;
        &:after{
          content:'';
          height:0px;
          width:0px;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid $red;
          position: absolute;
          right:1rem;
          top:16px;
        }
      }
    }
}

.order-detail--actions-list {
    position: absolute;
    background: #fff;
    width:160px;
    ul {
        //order: 2px solid $red;
        border-radius: 0px;
        //color: $red;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        width:100%;
        padding:0;
        margin-bottom: 0;
        li {
            list-style: none;
            width:100%;
            height:40px;
            button {
              text-align: left;
              font-family: $sans;
              // color: $red;
              font-size: 14px;
              font-weight: 600;
              // transform: translateY(-2px);
              background: #fff;
              border:1px solid $light-grey;
              width:100%;
              height:100%;
            }
        }
    }
}

.form--action-row {
    text-align: right;
    margin-top: 20px;
}

.order-detail--actions-container {
    position: relative;
    display: inline-block;
    z-index: 2;
    padding: 3rem 1rem 3rem 5rem;
    .order-detail--action{
      width:160px;
      padding:1rem;
      border: 2px solid $red;
      font-size:14px;
      font-weight: 600;
      font-family: $sans;
      text-align: left;
      position: relative;
      &:after{
        content:'';
        height:0px;
        width:0px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $red;
        position: absolute;
        right:1rem;
        top:18px;
      }
    }
}

.filter-by--container {
    position: relative;
    display: inline-block;
    z-index: 2;
    .counterFilter {
        position: absolute;
        right: 0;
        top: 40px;
        ul {
            display: block;
            padding: 1rem;
            li {
                display: block;
                a {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

.my-collapsible {
    width: 100%;
}

.my-collapsible__content {
    overflow: hidden;
}


.order-items--header {
    padding:1rem 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: $dark-grey;
    color:#fff;
    .col-item {
        width:25%;
        text-align: left;
    }
    .col-qty {
        width:10%;
    }
    .col-assign {
        width:20%;
    }
    .col-status {
        width:20%;
    }
    .col-barcode {
        width:25%;
    }
    h4{
        font-size: 20px;
    }
    .grey-border{
        &:after {
            height: 25px;
          }
    }
}

.order--items{
    margin: 5rem;
}

.order-detail-item--container {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    text-align: center;
    padding:1rem 0rem;
    margin-bottom: 1rem;
    .order-item--item{
        width:25%;
        padding:1rem 2rem;
        text-align: left;
        img{
            max-width: 90%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .order-item--qty{
        width:10%;
        font-size: 18px;
        padding: 1rem 2rem;
    }
    .order-item--assign{
        width:20%;
        padding: 1rem 2rem;
    }
    .order-item--status{
        width:20%;
        padding:1rem 2rem;
        .checkbox--container{
            width: 110px;
            margin:auto;
            position: relative;
            .checkbox-red{
                width:100%;
                min-width: 100%;
            }
        }
    }
    .order-item--barcode{
        width:25%;
        svg{
            max-width: 100%;
        }
    }
}

.order-item--row {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h4.grey-border {
        width: 24%;
        font-size: 22px;
    }
    .Select-arrow{
        position: absolute;
        right:2px;
        top:15px !important;
    }
}

.order-item--meta{
    width:100%;
    font-family: $sans;
    font-size:16px;
    padding:1rem 2rem 2rem 2rem;
    p{
        font-family: $sans;
        font-size: 16px;
        line-height: 20px;
        width:33%;
        &.fullwidth{
            width:100%;
        } 
    }
    .order--cake-options{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }
}

.order-detail{
  .fa-calendar,
  .fa-clock{
    opacity:.5;
    position: absolute;
    left: 7px;
    top:50%;
    transform: translateY(-50%);
  }
  .date-picker,
  .time-picker{
    position: relative;
    height:34px;
    input,
    select{
      padding-left:3rem;
    }
  }
  input,
  select{
    width:100%;
    font-size: 14px;
    height:34px;
  }
  .element{
    &:first-of-type{
      margin-top: 4rem;
    }
    h2{
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
  }
}
