/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
	font-family: $sans;
	font-size: 14px;
}
.divTableRow {
	display: table-row;
	padding: 0 5rem;
	background-color: $offwhite-light;
	font-size: 14px;
	font-weight: 500;
	.cell-id {
		position: relative;
		overflow: visible;
		padding-left: 5rem;
		strong {
			font-size: 21px;
			font-weight: 600;
		}
	}
	
	.cell-status {
		text-align: center;
	}
	> div {
        display: table-cell;
		vertical-align: middle;
		padding: 20px 0;
		position: relative;
		&:nth-child(n+3):nth-child(-n+8){
			text-align: center;
		}
		&.cell-pickup {
			text-align: left;
		}
	}
	&:first-child{
		text-transform: uppercase;
		font-weight:600;
	}
    &:nth-child(n+2){
		div{
			&:nth-child(n+2):nth-child(-n+8){
				div{
					height:30px;
					width:55px;
					margin: auto;
					border-radius:27px;
					background-color: #fff;
					padding-top: 1px;
					h4{
						vertical-align: middle;
					}
					.fa{
						position: relative;
						top:10%;
					}
				}
			}
		}
	}
	&:nth-child(2n+1){
		background-color: #fff;
		div{
			&:nth-child(n+2):nth-child(-n+8){
				div{
					background-color: $offwhite-light;
				}
			}
		}
	}
	div{
		a{
			display: block;
			margin-right:3rem;
			margin-left:1rem;
			height:30px;
			width:30px;
			background-color: $green;
			border-radius:50%; 
			&:after{
				content:'';
				display: block;
				position: relative;
				top:7px;
				left:5px;
				height:15px;
				width:15px;
				border-right: 5px solid #fff;
				border-bottom: 5px solid #fff;
				transform: rotate(-45deg);
			}
		}
	}
	h4{
		display:inline;
		font-size: 18px;
		margin-right: 0.3rem;
		transform: translateY(1px);
		&.red{
			color:$red;
		}
	}
	.fa{
		font-size:16px;
		transform: translateY(0px);
		&.green{
			color:$green;
		}
	}
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}