.qty--container {
    display: flex;
    align-items: center;
    h4{
        margin: 0 1rem;
    }
    button {
        border: 2px solid $red;
        border-radius: 0px;
        line-height: 1;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $red;
        font-size: 28px;
        font-weight: 400;
        background-color: #fff;
    }
}

.past-due{
    padding: 5px;
    background-color: $red;
    border-radius: 18px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.pick-up-today{
    padding: 5px;
    background-color: $yellow-alt;
    border-radius: 18px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    text-align: center;
}