// Colors
$dark-grey: #494c4f;
$grey: #808284;
$dark-grey: #494c4f;
$light-grey: #999b9c;
$lighter-grey: #e1ddcf;
$off-white: #f2eedd;
$red: #d0141e;
$green: #52aa4f;
$light-green: #c1da0f;
$yellow: #c5a513;
$offwhite: #f5f1e4;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;

$serif: Times, serif;
$sans: "josefin",helvetica,sans-serif;
$body: "helvetica neue",helvetica,sans-serif;